In [1]:
import numpy

In [2]:
import pandas

In [8]:
import matplotlib.pyplot as plot

In [10]:
import seaborn

In [11]:
%matplotlib inline

In [19]:
d1= pandas.read_csv('PrasadDatasets/MedianHouseholdIncome2015.csv',encoding="windows-1252")

In [20]:
d1.head()

  Geographic Area             City Median Income
0              AL       Abanda CDP         11207
1              AL   Abbeville city         25615
2              AL  Adamsville city         42575
3              AL     Addison town         37083
4              AL       Akron town         21667

In [23]:
d1.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 29322 entries, 0 to 29321
Data columns (total 3 columns):
Geographic Area    29322 non-null object
City               29322 non-null object
Median Income      29271 non-null object
dtypes: object(3)
memory usage: 687.3+ KB

In [26]:
d1['City'].unique()

array(['Abanda CDP', 'Abbeville city', 'Adamsville city', ...,
       'Wright town', 'Yoder town', 'Y-O Ranch CDP'], dtype=object)

In [27]:
count.d1['City']

NameError: name 'count' is not defined

In [29]:
from collections import Counter

In [30]:
count.d1['City']

NameError: name 'count' is not defined

In [32]:
povertyline = pandas.read_csv('PrasadDatasets/PercentagePeopleBelowPovertyLevel.csv',encoding="windows-1252")

In [33]:
povertyline.head()

  Geographic Area             City poverty_rate
0              AL       Abanda CDP         78.8
1              AL   Abbeville city         29.1
2              AL  Adamsville city         25.5
3              AL     Addison town         30.7
4              AL       Akron town           42

In [ ]:
help()

Welcome to Python 3.7's help utility!

If this is your first time using Python, you should definitely check out
the tutorial on the Internet at https://docs.python.org/3.7/tutorial/.

Enter the name of any module, keyword, or topic to get help on writing
Python programs and using Python modules.  To quit this help utility and
return to the interpreter, just type "quit".

To get a list of available modules, keywords, symbols, or topics, type
"modules", "keywords", "symbols", or "topics".  Each module also comes
with a one-line summary of what it does; to list the modules whose name
or summary contain a given string such as "spam", type "modules spam".

help> replace()
No Python documentation found for 'replace()'.
Use help() to get the interactive help utility.
Use help(str) for help on the str class.

help> replace
No Python documentation found for 'replace'.
Use help() to get the interactive help utility.
Use help(str) for help on the str class.

In [ ]:
dir(povertyline)

In [ ]:
x =2

In [ ]:
print(dir(x))

In [ ]:
x

In [ ]:
print("hi")

In [ ]:
print("jh")

In [ ]:
print(x)

In [ ]:
help()

In [ ]:
help()

Welcome to Python 3.7's help utility!

If this is your first time using Python, you should definitely check out
the tutorial on the Internet at https://docs.python.org/3.7/tutorial/.

Enter the name of any module, keyword, or topic to get help on writing
Python programs and using Python modules.  To quit this help utility and
return to the interpreter, just type "quit".

To get a list of available modules, keywords, symbols, or topics, type
"modules", "keywords", "symbols", or "topics".  Each module also comes
with a one-line summary of what it does; to list the modules whose name
or summary contain a given string such as "spam", type "modules spam".

In [ ]:
print(x)

In [ ]:
x

In [ ]:
help()

In [ ]:
print(x)